<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c6530c9d-7a8b-4fc2-b19f-5376254a2179/resourceGroups/FitEasy92/providers/Microsoft.Web/sites/FitEasy92</ResourceId>
    <ResourceGroup>FitEasy92</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fiteasy92.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fiteasy92.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FitEasy92</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FitEasy92</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FitEasyContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:fiteasy92.database.windows.net,1433;Initial Catalog=FitEasy92;User ID=geomang@fiteasy92.database.windows.net;Password=Gmcn11250" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FitEasy8.DAL.FitEasyContext, FitEasy8" MigrationConfiguration="FitEasy8.Migrations.Configuration, FitEasy8" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FitEasyContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fiteasy92.database.windows.net,1433;Initial Catalog=FitEasy92;User Id=geomang@fiteasy92.database.windows.net;Password=Gmcn11250;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>